<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutri.jonas.nutrima">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nutrima_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ModuloActivity"
            android:label="@string/modulo_label" />
        <activity
            android:name=".activity.RefeicaoListActivity"
            android:label="@string/reficao_list_label"
            android:parentActivityName=".activity.ModuloActivity" />
        <activity
            android:name=".activity.PratosListActivity"
            android:label="@string/pratos_list_label"
            android:parentActivityName=".activity.ModuloActivity" />
        <activity
            android:name=".activity.DiarioPesoListActivity"
            android:label="@string/diario_peso_list_label"
            android:parentActivityName=".activity.ModuloActivity" />
        <activity
            android:name=".activity.DiarioAlturaListActivity"
            android:label="@string/diario_altura_list_label"
            android:parentActivityName=".activity.ModuloActivity" />
        <activity
            android:name=".activity.DiarioAtividadeListActivity"
            android:label="@string/diario_atividade_list_label"
            android:parentActivityName=".activity.ModuloActivity" />
        <activity
            android:name=".activity.GraficoEvolucaoActivity"
            android:label="@string/grafico_evoluca_label"
            android:parentActivityName=".activity.ModuloActivity" />
        <activity
            android:name=".activity.DiarioPesoDetalheActivity"
            android:label="@string/diario_peso_detalhe_label"
            android:parentActivityName=".activity.DiarioPesoListActivity" />
        <activity
            android:name=".activity.DiarioAlturaDetalheActivity"
            android:label="@string/diario_altura_detalhe_label"
            android:parentActivityName=".activity.DiarioAlturaListActivity" />
        <activity
            android:name=".activity.DiarioAtividadeDetalheActivity"
            android:label="@string/diario_atividade_detalhe_label"
            android:parentActivityName=".activity.DiarioAtividadeListActivity" />

        <activity android:name=".activity.RefeicaoAlimentoListActivity"
            android:label="@string/refeicao_alimento_list_label"
            android:parentActivityName=".activity.RefeicaoListActivity"/>

    </application>

</manifest>